<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      {% if ({{page.title}} == "Carol's Blog" or {{page.title}} == "Tags" or {{page.title}} == "About"): %}
        <h2 class="nav-title" style="color: white;">{{ site.title }}</h2>
      {% else: %}
        <h2 class="nav-title" style="color: black;">{{ site.title }}</h2>
      {% endif %}
    </a>
    <ul>
      {% if {{page.title}} == "Carol's Blog" or {{page.title}} == "Tags" or {{page.title}} == "About": %}
        <li><a href="{{ site.baseurl }}/" style="color: white;font-weight: bold;">Posts</a></li>
        <li><a href="{{ '/tags' | prepend: site.baseurl }}" style="color: white;font-weight: bold;">Tags</a></li>
        <li><a href="{{ '/about' | prepend: site.baseurl }}" style="color: white;font-weight: bold;">About</a></li>
      {% else: %}
        <li><a href="{{ site.baseurl }}/" style="color: black;font-weight: bold;">Posts</a></li>
        <li><a href="{{ '/tags' | prepend: site.baseurl }}" style="color: black;font-weight: bold;">Tags</a></li>
        <li><a href="{{ '/about' | prepend: site.baseurl }}" style="color: black;font-weight: bold;">About</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
